.footer {
  height: 48px;
  width: 100%;
  top: 4036px;

}
.box {
  height: 48px;
  width: 72px;
margin: 12px;
background-color: thistle;
 
}
.imag{
    height: 20.57637596130371px;
width: 24.000335693359375px;
margin-left: 312px;

}
