.footer{
    height: 48px;
width: 360.00067138671875px;
left: 0px;
top: 4036px;
border-radius: 0px;
margin: 16px;
padding: 12px, 24px, 12px, 24px;
}
.box{
 
height: 48px;
width: 72px;
left: 0.0001220703125px;
top: 0px;
border-radius: 0px;
padding: 12px, 24px, 12px, 24px;


}