.h{
    height: 28px;
width: 76px;
left: 16px;
top: 1403px;
border-radius: nullpx;

}
.hr{height: 4px;
    width: 360px;
    left: 0px;
    top: 1383px;
    border-radius: 0px;
    }
    .img{
        margin: 16px;
        height: 156px;
width: 156px;

border-radius: 0px;

    }